body {
  background-color: black;
}
#myCanvas {
  /* width: 1000px;
  height: 1000px; */
  display: flex;
  /* margin: 50px auto; */
  background-image: url(images/bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: 20px pink;
  background-size: cover;
}
